<table>
  <% var i; for (i=0; i<quizes.length;i++) { %>
  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
  <% } %>
</table>
<p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</p>
<h3>Buscador</h3>
<form method="get" action="/quizes">
      <p>Introduce texto a buscar en la lista de preguntas: <input type="text" name="search" value="buscar" />
      <input type="submit" value="Enviar"></p>
</form>
